In [5]:
print("Hellow World")

Hellow World

In [6]:
x = 3

In [7]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

In [8]:
print(type(x))

<class 'int'>

In [9]:
x = 5.7

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.7

In [11]:
print(type(x))

<class 'float'>

In [12]:
abcd = 556.32

In [13]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    556.32
x          float    5.7

In [14]:
a,b,c,d,f = 3,5,6.0,7.2,-3

In [15]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    556.32
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

In [16]:
del abcd

In [17]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

In [ ]:
c = 2+4j

In [25]:
print(type(c))

<class 'float'>

In [26]:
s = "hellow how are you"

In [27]:
print(type(s))

<class 'str'>

In [28]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
s          str      hellow how are you
x          float    5.7

In [29]:
sumOfaAndb = a+b

In [30]:
print(sumOfaAndb)

8

In [31]:
type(sumOfaAndb)

int

In [32]:
type(a+d)

float

In [33]:
v = ((a+d)**3)/4

In [34]:
print(v)

265.30199999999996

In [35]:
s1 = "hellow"
s2 = "world"
s = s1+s2
print(s)

hellowworld

In [36]:
10//3

3

In [37]:
10/3

3.3333333333333335

In [38]:
_

3.3333333333333335

In [39]:
_e = 6

In [40]:
startingTimeOfTheCourse = 2.0

In [41]:
%whos

Variable                  Type     Data/Info
--------------------------------------------
a                         int      3
b                         int      5
c                         float    6.0
d                         float    7.2
f                         int      -3
s                         str      hellowworld
s1                        str      hellow
s2                        str      world
startingTimeOfTheCourse   float    2.0
sumOfaAndb                int      8
v                         float    265.30199999999996
x                         float    5.7

In [42]:
a = True
b = True
c = False

In [43]:
%whos

Variable                  Type     Data/Info
--------------------------------------------
a                         bool     True
b                         bool     True
c                         bool     False
d                         float    7.2
f                         int      -3
s                         str      hellowworld
s1                        str      hellow
s2                        str      world
startingTimeOfTheCourse   float    2.0
sumOfaAndb                int      8
v                         float    265.30199999999996
x                         float    5.7

In [44]:
print(a and b)
print(a and c)
print(c and a)

True
False
False

In [45]:
d = a or c
print(d)

True

In [46]:
not(a)

False

In [ ]:
not(b)

In [ ]:
not(c)

In [ ]:
t = not(d)

In [ ]:
type(t)

In [ ]:
print(t)

In [ ]:
not((a and b) or (c or d))

In [ ]:
print(2<3)

In [ ]:
c = 2<3
print(type(c))
print(c)

In [ ]:
d = 3==4

In [ ]:
print(d)

In [ ]:
3==3.0

In [ ]:
x = 4
y = 9
z = 8.3
r = -3

In [ ]:
(x<y) and (z<y) or (r==x)

In [ ]:
(r==x) and (x<y) or (z>y)